a {
    text-decoration: none;
    color: black;
}

.nav {
    display: inline-block;
    border: 4px double gray;
    margin: 0;
    padding: 12px 16px;
}

.nav .active {
    font-weight: 600;
}

.nav li {
    display: inline;
}

.nav li:nth-child(n + 2)::before {
    content: '♦';
    margin: 6px;
}