
.radio-form input {
    display: none;
}

.radio-form label {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.radio-form label::before {
    font-family: KonturIconic;
    content: ' ';
    width: 16px;
    height: 16px;
    background-color: whitesmoke;
    display: inline-block;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
    border-radius: 1000px;
    text-align: center;
    margin: auto;
}

.radio-form label #text {
    color: red;
}

.radio-form input:active+label::before {
    background-color: gainsboro;

}

.radio-form input:checked+label::before {
    background-color: whitesmoke;
}

.radio-form input:checked+label::after {
    background-color: black;
    content: ' ';
    width: 8px;
    height: 8px;
    border-radius: 1000px;
    position: absolute;
    top: 7px;
    left: 12px;
}


.radio-form input:focus+label::before {
    box-shadow: 0 0 0 2px #1D85D0;
}


.radio-form input:hover+label::before {
    background-color: gainsboro;
}

.radio-form input:disabled+label::before {
    background-color: whitesmoke;
    opacity: 0.5;
}

.radio-form input:disabled+label {
    color: lightgray;
}